@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply md:text-[1.1em];
  }

  body {
    @apply text-stone-800;
  }

  a {
    @apply outline-inherit;
  }

  p a {
    @apply text-emerald-600;
    @apply underline;
    @apply decoration-1;
  }

  p a:hover {
    @apply text-emerald-800;
    @apply no-underline;
  }

  svg path {
    @apply fill-inherit;
  }
}
